.starsContainer {
    display: flex;
}

.star {
    cursor: pointer;
    transition: all 0.1s linear;
    font-size: 28px; /* Größere Schriftgröße für die Bewertungssterne */
    color: #e0e0e0; /* Farbe für nicht ausgewählte Sterne */
    margin-right: 2px;
}

.star.filled {
    color: #FFD700; /* Farbe für ausgewählte Sterne */
}

.star:hover {
    transform: scale(1.1);
}

.commentary {
    height: 30px;
    width: 300px;
    resize: none;
    overflow: hidden;
}

.stars {
    font-size: 1.5rem; /* Größe der Sterne in den Reviews */
    color: #FFD700; /* Farbe der Sterne */
    display: flex;
}

.star {
    margin-right: 2px; /* Abstand zwischen den Sternen */
}

.toggle-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.toggle-button:hover {
    background-color: #0056b3;
}