body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin: 20px 0;
    font-size: 18px;
}

.search-container {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px); /* Full width minus padding */
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

input[type="password"] {
    padding: 10px;
    width: calc(100% - 22px); /* Full width minus padding */
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    max-height: 200px; /* Maximale Höhe für das Bild */
    height: auto;
    width: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    object-fit: contain;
}

.product-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 250px;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.product-card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s ease;
}

.product-card a:hover {
    color: #007BFF;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}

.product-card p.price {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.navigation {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; /* Helle Hintergrundfarbe */
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Schatten für Tiefenwirkung */
    z-index: 1000; /* Damit die Navigation immer oben bleibt */
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333; /* Textfarbe */
    font-size: 0.9rem; /* Schriftgröße */
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav-link img {
    max-width: 40px; /* Maximale Breite der Icons */
    height: auto;
    margin-bottom: 5px;
}

.nav-link:hover {
    background-color: #e9ecef; /* Hellere Hintergrundfarbe bei Hover */
    border-radius: 5px; /* Abgerundete Ecken für den Hover-Effekt */
}

.navigation.sticky {
    position: sticky;
    top: 0;
}

.product-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto; /* Zentriert den Container */
}

/* Produktname */
.product-name {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Produktbild */
.product-image {
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
    object-fit: contain;
    margin-bottom: 20px;
}

/* Produktpreis */
.product-price {
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Niedriger Lagerbestand */
.low-stock {
    font-size: 1rem;
    color: #ff0000;
    margin-bottom: 20px;
}

/* Steuerung der Menge */
.quantity-controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quantity-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.quantity-button:hover {
    background-color: #0056b3;
}

.quantity-display {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Button zum Hinzufügen in den Warenkorb */
.add-to-cart-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.add-to-cart-button:hover {
    background-color: #218838;
}